{% extends 'base.html.twig' %}

{% block title %}About Me{% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div align="center">
                    <h1><b>About Me!</b></h1>
                    <p>Hello, if you're here you are likely bored and wondering what I am up to.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
{% endblock javascripts %}